.myBubbleUI {
    width: 100%;
    height: 1000px;
    background-color: cyan;
  }
  
  .child {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
  
  .childComponent {
    width: 100%; /* width expands to fit bubble */
    height: 100%; /* width expands to fit bubble */
    border-radius: 50%; /* rounded border forms a circle */
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  